<!-- <form>
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form> -->

<form id="formentry" class="form-horizontal">
  <div class="container-fluid shadow">
      <div class="row">
          <div id="valErr" class="row viewerror clearfix hidden">
              <div class="alert alert-danger">Oops! Seems there are some errors..</div>
          </div>
          <div id="valOk" class="row viewerror clearfix hidden">
              <div class="alert alert-success">Yay! ..</div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label class="control-label control-label-left col-sm-3" for="userName">User Name<span class="req"> *</span></label>
                              <div class="controls col-sm-9">
                                  <input id="userName" type="text" class="form-control" data-role="text" placeholder="" name=""></div>
                          </div>
                          <div class="form-group">
                              <label class="control-label control-label-left col-sm-3" for="password">Password<span class="req"> *</span></label>
                              <div class="controls col-sm-9">
                                  <input id="password" type="text" class="form-control" data-role="text"></div>
                          </div>
                          <div class="form-group">
                              <button id="button10" type="button" (click)="login()" class="btn btn-default">Login</button></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>