<div class="page-header">
  <h3>Flats Management</h3>
  <div class="menuitems">
    <!-- <button type="button" class="btn btn-primary" tooltip="Let out a flat">Rent a Flat</button>
    <button type="button" class="btn btn-primary" tooltip="Update owner of a flat">Register a Flat Sale</button>
    <button type="button" class="btn btn-primary" tooltip="Maintanance">Enter Maintanence</button> -->
    <a class="btn btn-primary" routerLink="rent" role="button">Rent a flat</a>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>