<!-- <nav>
  <a routerLink="/login">Login</a>
  <a routerLink="/people">Users</a>
</nav>
<router-outlet></router-outlet> -->

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container full-width">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
          <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav" *ngIf="appService.getIsUserLoggedIn()">
              <li class="active"><a routerLink="/login">Login</a></li>
              <li><a routerLink="/people">About</a></li>
              <li><a href="#contact">Contact</a></li>
          </ul>
          <div class="btn-group login-details"  *ngIf="appService.getIsUserLoggedIn()" dropdown>
              <button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
                Srikrishna Dasu <span class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                </li>
              </ul>
            </div>
      </div>
      <!--/.nav-collapse -->
  </div>
</nav>

<!-- Begin page content -->
<div class="container full-width">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
      <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>