<div class="page-header">
  <h3>People Management</h3>
  <div class="menuitems">
    <!-- <button type="button" class="btn btn-primary" tooltip="Let out a flat">Rent a Flat</button>
    <button type="button" class="btn btn-primary" tooltip="Update owner of a flat">Register a Flat Sale</button>
    <button type="button" class="btn btn-primary" tooltip="Maintanance">Enter Maintanence</button> -->
    <a class="btn btn-primary" routerLink="owner" role="button">Owner Management</a>
    <a class="btn btn-primary" routerLink="tenant" role="button">Tenant Management</a>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>